<style>
  /* body {
    background-color: transparent;
  } */
  .header {
    margin-top: 70px;
  }
  img {
    width: 350px;
  }
  img.img-fluid {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  #main-image-block {
    border-radius: 0 0 10% 10%;
  }
</style>

<section id="home">
  <div class="bg-light text-center pt-5" id="main-image-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12">
          <h1 class="display-5">Enjoy the Food Recipe</h1>
          <p class="lead">
            Did you know that you can practice beautiful recipe. try now
          </p>
          <!-- <button class="btn btn-outline-primary mt-2 mb-4">Register</button> -->
        </div>
        <div class="col-sm-12 pb-5">
          <img
            src="./img/image-02.png"
            class="img-responsive"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white p-5">
    <div class="text-center">
      <h1>Our Picks</h1>
      <p class="lead">Deliciouse recipe we choose for you</p>
    </div>
    <hr />
    <div class="row p-3">
      <div class="col-sm-12 col-lg-8 p-5">
        <div class="row">
          <div class="col-sm-12 col-lg-6 pt-3">
            <h3>Ingidriants</h3>
            <ul class="list-group">
              <li class="list-group-item">4 tablespoons unsalted butter</li>
              <li class="list-group-item">
                1 tablespoon minced bacon (about 1/2 ounce)
              </li>
              <li class="list-group-item">1 Spanish onion, chopped</li>
              <li class="list-group-item">1 carrot, chopped</li>
              <li class="list-group-item">1 stalk celery, chopped</li>
              <li class="list-group-item">4 cloves garlic, minced</li>
              <li class="list-group-item">5 tablespoons all-purpose flour</li>
              <li class="list-group-item">
                5 cups chicken broth, homemade or low-sodium canned
              </li>
              <li class="list-group-item">Read more..</li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-6 pt-3">
            <h3>Instructions:</h3>
            <p class="lead">
              Heat the butter in a large soup pot over medium-high heat. Add the
              bacon and cook, stirring, until crisp and most of the fat has
              rendered, about 1 minute. Using a slotted spoon, transfer the
              bacon to a paper towel-lined plate and set aside. Lower the heat
              to medium, add the onion, carrots, celery, and garlic and cook,
              covered, stirring occasionally, until soft and fragrant, about 8
              minutes.
            </p>
            <p class="lead">
              Stir in the flour and cook, stirring, for 3 minutes. Pour in the
              broth and tomatoes and bring to a boil while whisking constantly.
              Tie the parsley sprigs, thyme, and bay leaf together with a piece
              of kitchen twine and add to the pot. Lower the heat and simmer for
              30 minutes. Remove from the heat and allow to cool.
            </p>
            <button class="btn btn-primary">Read more</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4 my-5 text-center p-2">
        <img
          src="./img/recipes/recipe-01.jpeg"
          class="img-thumbnail mb-2"
          alt=""
          srcset=""
        />
        <h1 class="text-primary">Tomato Bisque</h1>
        <p class="lead">Total Time: 1hr</p>
      </div>
    </div>
    <hr />
    <div class="row p-3">
      <div class="col-sm-12 col-lg-4 my-5 p-5 text-center">
        <img
          src="./img/recipes/recipe-02.jpeg"
          class="img-thumbnail mb-2"
          alt=""
          srcset=""
        />
        <h1 class="text-primary">Chicken Scampi Pasta</h1>
        <p class="lead">Total Time: 1hr 30min</p>
      </div>
      <div class="col-sm-12 col-lg-8">
        <div class="row">
          <div class="col-sm-12 col-lg-6 pt-3">
            <h3>Ingidriants</h3>
            <ul class="list-group">
              <li class="list-group-item">4 tablespoons unsalted butter</li>
              <li class="list-group-item">
                1 tablespoon minced bacon (about 1/2 ounce)
              </li>
              <li class="list-group-item">1 Spanish onion, chopped</li>
              <li class="list-group-item">1 carrot, chopped</li>
              <li class="list-group-item">1 stalk celery, chopped</li>
              <li class="list-group-item">4 cloves garlic, minced</li>
              <li class="list-group-item">5 tablespoons all-purpose flour</li>
              <li class="list-group-item">
                5 cups chicken broth, homemade or low-sodium canned
              </li>
              <li class="list-group-item">Read more..</li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-6 pt-3">
            <h3>Instructions:</h3>
            <p class="lead">
              Heat the butter in a large soup pot over medium-high heat. Add the
              bacon and cook, stirring, until crisp and most of the fat has
              rendered, about 1 minute. Using a slotted spoon, transfer the
              bacon to a paper towel-lined plate and set aside. Lower the heat
              to medium, add the onion, carrots, celery, and garlic and cook,
              covered, stirring occasionally, until soft and fragrant, about 8
              minutes.
            </p>
            <p class="lead">
              Stir in the flour and cook, stirring, for 3 minutes. Pour in the
              broth and tomatoes and bring to a boil while whisking constantly.
              Tie the parsley sprigs, thyme, and bay leaf together with a piece
              of kitchen twine and add to the pot. Lower the heat and simmer for
              30 minutes. Remove from the heat and allow to cool.
            </p>
            <button class="btn btn-primary">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center" style="margin-top: 100px;">
    <h1>Our Customers</h1>
    <div class="row mt-5">
      <div class="col-lg-4 col-sm-12">
        <img
          src="./img/customers/customer-01.jpg"
          class="img-fluid"
          alt=""
          srcset=""
        />
        <blockquote class="blockquote text-center pt-3">
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Integer posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            Phillip Elliott
          </footer>
        </blockquote>
      </div>
      <div class="col-lg-4 col-sm-12">
        <img
          src="./img/customers/customer-02.jpg"
          class="img-fluid"
          alt=""
          srcset=""
        />
        <blockquote class="blockquote text-center pt-3">
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Integer posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            Riley Moore
          </footer>
        </blockquote>
      </div>
      <div class="col-lg-4 col-sm-12">
        <img
          src="./img/customers/customer-03.jpg"
          class="img-fluid"
          alt=""
          srcset=""
        />
        <blockquote class="blockquote text-center pt-3">
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat a ante.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Integer posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            Dawn Mitchell
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer class="p-5 bg-white mt-5 border-top">
  <div class="container">
    <p class="float-right">
      <a href="#" class="text-primary"
        >Back to top <i class="icofont-arrow-up"></i
      ></a>
    </p>
    <p>
      &copy; 2017-2019 Company, Inc. &middot;
      <a href="#" class="text-primary">Privacy</a> &middot;
      <a href="#" class="text-primary">Terms</a>
    </p>
  </div>
</footer>
